@import '../../holidaze/src/styles/buttons.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  max-width: 800px;
  margin: 0 auto;
  padding:0 15px;
  
}
a {
  text-decoration: none;
  color: black;

}
